.walletCon {
    background-color: aqua;
    height: 100vh;
    justify-content: space-between;
}

.giftBox {
    background-color: red;
    height: 100vh;
    width: 10%;
}


.giftBox {
    position: relative;
  }
  
  .left {
    position: relative;
  }
  
  .cardCenter {
    position: relative;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .cardCenter a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .cardCenter a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-icon {
    margin-left: 10px;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%; /* Position the dropdown below the GiftCard link */
    left: 0;
    z-index: 1;
    width: 100%; /* Match the width of the parent */
  }
  
  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  